body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;

  h1 {
    position: relative;
    width: 70%;
    font-size: 12em;
    text-align: center;
    line-height: 1em;
    color: #ffffff;
    text-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    cursor: pointer;
    user-select: none;

    &:hover {
      text-shadow: -1px 1px 0px rgba(0, 0, 0, 1), 1px -1px 0px rgba(0, 0, 0, 0.1);
    }
  }
}
