body {
  background-color: #111111;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;

    font-family: 'Tomorrow', sans-serif;
    font-size: 50px;
    color: transparent;
    white-space: nowrap;
    text-transform: uppercase;

    background: url('./assets/img/strip.jpg') no-repeat;
    -webkit-background-clip: text;

    transform: translate(-50%, -50%);

    animation: change 10s linear infinite;
    animation-direction: alternate;
  }
}

@keyframes change {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
