body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #000000;
}

body .loader {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  cursor: pointer;
}

body .loader:hover {
  background-color: #03e9f4;
  -webkit-box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
          box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
}

body .loader span {
  position: absolute;
  display: block;
}

body .loader span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 40px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#03e9f4));
  background: linear-gradient(90deg, transparent, #03e9f4);
  -webkit-animation: animate-1 1s linear infinite;
          animation: animate-1 1s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

body .loader span:nth-child(2) {
  right: 0;
  top: -100%;
  width: 40px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#03e9f4));
  background: linear-gradient(180deg, transparent, #03e9f4);
  -webkit-animation: animate-2 1s linear infinite;
          animation: animate-2 1s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

body .loader span:nth-child(3) {
  bottom: 0;
  left: 100%;
  width: 100%;
  height: 40px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#03e9f4));
  background: linear-gradient(270deg, transparent, #03e9f4);
  -webkit-animation: animate-3 1s linear infinite;
          animation: animate-3 1s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

body .loader span:nth-child(4) {
  left: 0;
  top: 100%;
  width: 40px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#03e9f4));
  background: linear-gradient(0deg, transparent, #03e9f4);
  -webkit-animation: animate-4 1s linear infinite;
          animation: animate-4 1s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes animate-1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes animate-1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes animate-2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

@keyframes animate-2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes animate-3 {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes animate-3 {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@-webkit-keyframes animate-4 {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}

@keyframes animate-4 {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}
/*# sourceMappingURL=style.css.map */