body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #0d192e;
}

body .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1100px;
  height: 600px;
  margin: 20px;
  background-color: #122647;
}

body .container .form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

body .container .form-content form {
  position: relative;
  width: 100%;
  padding: 0 0 0 75px;
}

body .container .form-content form h2 {
  margin-bottom: 40px;
  font-family: 'Poppins Bold', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
}

body .container .form-content form .input-box {
  position: relative;
  margin-bottom: 40px;
}

body .container .form-content form .input-box:last-child {
  margin-bottom: 0;
}

body .container .form-content form .input-box input,
body .container .form-content form .input-box textarea {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
  font-size: 1em;
  letter-spacing: 1px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  color: #ffffff;
  resize: none;
}

body .container .form-content form .input-box input:focus, body .container .form-content form .input-box input:valid,
body .container .form-content form .input-box textarea:focus,
body .container .form-content form .input-box textarea:valid {
  border-bottom-color: #ffffff;
}

body .container .form-content form .input-box input:focus ~ span, body .container .form-content form .input-box input:valid ~ span,
body .container .form-content form .input-box textarea:focus ~ span,
body .container .form-content form .input-box textarea:valid ~ span {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
  color: #1bfaad;
  font-size: 0.8em;
}

body .container .form-content form .input-box textarea {
  height: 100px;
}

body .container .form-content form .input-box input[type='submit'] {
  width: 100px;
  margin-top: -10px;
  padding: 8px 20px;
  font-size: 1.2em;
  letter-spacing: 4px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  background-color: #ff5064;
  cursor: pointer;
}

body .container .form-content form .input-box input[type='submit']:focus {
  background-color: #1bfaad;
  color: #111111;
}

body .container .form-content form .input-box span {
  position: absolute;
  left: 0;
  font-size: 1em;
  display: inline-block;
  pointer-events: none;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

body .container .img-box {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

body .container .img-box img {
  position: absolute;
  bottom: 0;
  max-height: 95%;
}

body .container .img-box::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #ff5064;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: skewX(-25deg) translateX(10%);
          transform: skewX(-25deg) translateX(10%);
}

@media (max-width: 991px) {
  body .container .form-content {
    width: 100%;
    padding: 0 50px;
  }
  body .container .form-content form {
    width: 100%;
    max-width: 500px;
    padding: 0;
  }
  body .container .img-box {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */