body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #0d192e;

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    height: 600px;
    margin: 20px;
    background-color: #122647;

    .form-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;

      form {
        position: relative;
        width: 100%;
        padding: 0 0 0 75px;

        h2 {
          margin-bottom: 40px;
          font-family: 'Poppins Bold', sans-serif;
          font-size: 2em;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: #ffffff;
        }

        .input-box {
          position: relative;
          margin-bottom: 4px;

          &:last-child {
            margin-bottom: 0;
          }

          input,
          textarea {
            position: relative;
            width: 100%;
            padding-bottom: 10px;
            font-size: 1em;
            letter-spacing: 1px;
            outline: none;
            border: none;
            border-bottom: 2px solid rgba(255, 255, 255, 0.5);
            background-color: transparent;
            color: #ffffff;
            resize: none;
          }

          textarea {
            height: 100px;
          }

          input[type='submit'] {
            width: 100px;
            margin-top: -10px;
            padding: 8px 20px;
            font-size: 1.2em;
            letter-spacing: 4px;
            color: #ffffff;
            text-transform: uppercase;
            border: none;
            background-color: #ff5064;
            cursor: pointer;
          }
        }
      }
    }
  }
}
