.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000000;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;

    &:nth-child(2) {
      mix-blend-mode: multiply;
    }
  }
}
