body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #08001b;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1100px;
}

body .container:hover .card {
  opacity: 0.2;
}

body .container .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 400px;
  margin: 30px;
  overflow: hidden;
  background-color: #0c002b;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .container .card::before {
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 50%;
  content: '';
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

body .container .card:hover {
  opacity: 1;
}

body .container .card:hover span {
  opacity: 1;
}

body .container .card:hover .content h2 {
  opacity: 1;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

body .container .card:hover .content h3,
body .container .card:hover .content p {
  opacity: 1;
}

body .container .card span {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .container .card span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#1779ff));
  background: linear-gradient(to right, transparent, #1779ff);
  -webkit-animation: animate-1 2s linear infinite;
          animation: animate-1 2s linear infinite;
}

body .container .card span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#1779ff));
  background: linear-gradient(to bottom, transparent, #1779ff);
  -webkit-animation: animate-2 2s linear infinite;
          animation: animate-2 2s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

body .container .card span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#1779ff));
  background: linear-gradient(to left, transparent, #1779ff);
  -webkit-animation: animate-3 2s linear infinite;
          animation: animate-3 2s linear infinite;
}

body .container .card span:nth-child(4) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#1779ff));
  background: linear-gradient(to top, transparent, #1779ff);
  -webkit-animation: animate-4 2s linear infinite;
          animation: animate-4 2s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

body .container .card .content {
  padding: 30px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .container .card .content h2 {
  position: absolute;
  z-index: 1;
  right: 30px;
  font-size: 4rem;
  font-weight: 900;
  color: #1779ff;
  opacity: 0.1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .container .card .content h3 {
  position: relative;
  z-index: 2;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #ffffff;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .container .card .content p {
  position: relative;
  font-size: 1rem;
  color: #ffffff;
  z-index: 2;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .container .card .content a {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 15px;
  font-weight: 900;
  color: #0c002b;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
}

@-webkit-keyframes animate-1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes animate-1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes animate-2 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes animate-2 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@-webkit-keyframes animate-3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes animate-3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes animate-4 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes animate-4 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
/*# sourceMappingURL=style.css.map */