@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  background-image: linear-gradient(-90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}

body .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  margin-bottom: 2rem;
}

body .row .col-header {
  width: 150px;
  padding: 0.8rem 1rem;
  text-align: center;
  color: #fff;
  font-weight: 700;
  text-shadow: 1px 1px #000000;
  -webkit-box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
          box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .row .border {
  border: 1px dashed rgba(198, 198, 198, 0.36);
}

body .row .placeholder {
  width: 150px;
  height: 66px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  text-align: center;
  color: #828282;
  border-radius: 10px;
  background: #f7f6f7;
  -webkit-box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
          box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.start,
.progress,
.done {
  background-color: gray;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.5) 35px, rgba(255, 255, 255, 0.5) 70px);
}

.hold {
  -webkit-box-shadow: inset 4px 4px 4px rgba(198, 198, 198, 0.36), inset -4px -4px 4px rgba(198, 198, 198, 0.36);
          box-shadow: inset 4px 4px 4px rgba(198, 198, 198, 0.36), inset -4px -4px 4px rgba(198, 198, 198, 0.36);
}

.hide {
  opacity: 0.3;
}

.entered {
  opacity: 0.1;
  border-radius: 10px;
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
/*# sourceMappingURL=style.css.map */