// position
// box-model
// typography
// decor
// transition
// animation
// other

body {
  // box-model
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  // decor
  background-color: #1f1f1f;
  overflow: hidden;

  .container {
    // position
    position: relative;
    // box-model
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
      // box-model
      width: 500px;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px 50px;

      span {
        // position
        position: absolute;
        // decor
        border: 2px solid #ffffff;
        border-radius: 50%;
        // animation
        animation: animate 5s ease-in-out infinite;
        animation-delay: calc(0.5s * var(--i));
      }

      &:nth-child(2) {
        span {
          // decor
          border: none;
          background-color: rgba(0, 255, 0, 0.25);
        }
      }
    }
  }
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
