// position
// box-model
// typography
// decor
// transition
// animation
// other

body {
  margin: 0;
  padding: 0;
  background-color: #262626;

  .ring {
    // position
    position: absolute;
    top: 50%;
    left: 50%;
    // box-model
    width: 150px;
    height: 150px;
    // typography
    font-family: 'Tomorrow', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 150px;
    color: #fff000;
    text-transform: uppercase;
    // decor
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    background: transparent;
    text-shadow: 0 0 10px #fff000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    // transition
    transform: translate(-50%, -50%);

    &::before {
      // position
      position: absolute;
      top: -3px;
      left: -3px;
      // box-model
      width: 150px;
      height: 150px;
      content: '';
      // decor
      border: 3px solid transparent;
      border-top: 3px solid #fff000;
      border-right: 3px solid #fff000;
      border-radius: 50%;
      // animation
      animation: animate-c 1s linear infinite;
    }

    span {
      // position
      position: absolute;
      top: calc(50% - 2px);
      left: 73px;
      // box-model
      display: block;
      width: 50%;
      height: 4px;
      // transition
      transform-origin: left;
      // animation
      animation: animate 1s linear infinite;

      &::before {
        // position
        position: absolute;
        top: -6px;
        right: -8px;
        // box-model
        width: 16px;
        height: 16px;
        content: '';
        // decor
        border-radius: 50%;
        background-color: #fff000;
        box-shadow: 0 0 20px #fff000;
      }
    }
  }
}

@keyframes animate-c {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
