* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Tomorrow', sans-serif;
  .clock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #dde1e7;

    .mid {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      color: #ffffff;
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 100px;
      -webkit-box-reflect: below 30px
        linear-gradient(transparent, rgba(230, 221, 221, 0.267));
      font-size: 5rem;
      color: #ffffff;
      margin: 10px 10px 10px 10px;
    }

    #Hours,
    #Minutes,
    #Seconds {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100px;
      height: 100px;
      -webkit-box-reflect: below 1px
        linear-gradient(transparent, rgba(230, 221, 221, 0.267));
      padding: 20px;
      margin-bottom: 5px;
      border-radius: 10px;
      box-shadow: -3px -3px 7px #ffffff73, 3px 3px 7px rgba(94, 104, 121, 0.288);
      cursor: pointer;

      &:hover {
        -webkit-box-reflect: below 1px
          linear-gradient(transparent, rgba(255, 250, 250, 0.267));
        padding: 20px;
        border-radius: 10px;
        box-shadow: inset -2px 5px #ffffff, inset 2px 2px 5px #ffffff;
        box-shadow: inset -3px -3px 7px #ffffff73,
          inset 3px 3px 7px rgba(94, 104, 121, 0.288);
      }
    }
  }
}
