.container {
  width: 100%;
}

section {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #444;
}

.block {
  width: 75px;
  height: 75px;
  margin: 25px;
  border: 2px solid #333;
}

.active {
  background: orange;
}

.hide {
  display: none;
}

.out-11 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.out-11 .key {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 10px;
  line-height: 10px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 3px;
}
