body {
  height: 100vh;
  overflow: hidden;
  background-color: #000000;

  section {
    height: 100vh;

    span {
      position: absolute;
      background-color: #ffffff;
      pointer-events: none;
      animation: animate 5s linear infinite;
    }
  }
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0deg);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: scale(1) translateY(-500px) rotate(360deg);
    opacity: 0;
  }
}
