body {
  font-family: 'Poppins', sans-serif;

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(
      -30deg,
      #03a9f4 0%,
      #3a78b7 50%,
      #262626 50%,
      #607d8b 100%
    );
    filter: hue-rotate(120deg);
    animation: animate 10s linear infinite;

    .box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 360px;
      height: 480px;
      padding: 50px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 6px;
      box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);

      &:after {
        position: absolute;
        content: '';
        top: 5px;
        left: 5px;
        bottom: 5px;
        right: 5px;
        border-radius: 5px;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.3) 0%,
          rgba(255, 255, 255, 0.1) 15%,
          transparent 50%,
          transparent 85%,
          rgba(255, 255, 255, 0.3) 100%
        );
        pointer-events: none;
      }

      .form {
        position: relative;
        width: 100%;

        h2 {
          margin-bottom: 30px;
          font-weight: 600;
          color: #ffffff;
          letter-spacing: 2px;
        }

        form {
          .input-box {
            position: relative;
            width: 100%;
            margin-bottom: 20px;

            input {
              width: 100%;
              padding: 8px 10px 8px 35px;
              font-size: 16px;
              font-weight: 300;
              color: #ffffff;
              border: 1px solid rgba(255, 255, 255, 0.2);
              border-radius: 6px;
              outline: none;
              background: transparent;
              box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);

              &::placeholder {
                color: #ffffff;
              }

              &[type='submit'] {
                max-width: 100px;
                padding: 8px 10px;
                font-weight: 600;
                letter-spacing: 1px;
                color: #111111;
                box-shadow: none;
                background-color: #ffffff;
                cursor: pointer;
              }
            }

            img {
              position: absolute;
              top: 8px;
              left: 10px;
              width: 24px;
              height: auto;
              filter: invert(1);
              transform: scale(0.7);
            }
          }

          .remember {
            position: relative;
            display: inline-block;
            margin-bottom: 10px;
            color: #ffffff;
            font-weight: 300;
            cursor: pointer;
          }
        }

        p {
          margin-top: 5px;
          font-size: 15px;
          font-weight: 300;
          color: #ffffff;

          a {
            color: #ffffff;
          }
        }
      }
    }
  }
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
