body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #131313;
}

body .container {
  position: relative;
}

body .container .card {
  position: relative;
  width: 320px;
  height: 450px;
  overflow: hidden;
  border-radius: 20px;
  background-color: #232323;
}

body .container .card::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #9bdc28;
  -webkit-clip-path: circle(150px at 80% 20%);
          clip-path: circle(150px at 80% 20%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body .container .card::after {
  position: absolute;
  top: 30%;
  left: -20%;
  content: 'Nike';
  font-family: 'Poppins Bold', sans-serif;
  font-size: 12em;
  font-weight: 900;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04);
}

body .container .card .img-box {
  position: absolute;
  top: 50%;
  z-index: 1000;
  width: 100%;
  height: 220px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .container .card .img-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 270px;
  -webkit-transform: translate(-50%, -50%) rotate(-25deg);
          transform: translate(-50%, -50%) rotate(-25deg);
}

body .container .card .content-box {
  position: absolute;
  bottom: 0px;
  z-index: 10;
  width: 100%;
  height: 70px;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
}

body .container .card .content-box h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
}

body .container .card .content-box .size,
body .container .card .content-box .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  padding: 8px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .container .card .content-box .size h3,
body .container .card .content-box .color h3 {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

body .container .card .content-box .size span,
body .container .card .content-box .color span {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 0 5px;
  font-size: 14px;
  line-height: 26px;
  text-align: 26px;
  color: #111111;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

body .container .card .content-box .size span:hover,
body .container .card .content-box .color span:hover {
  background-color: #9bdc28;
}

body .container .card .content-box .color span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

body .container .card .content-box .color span:nth-of-type(1) {
  background-color: #ffff00;
}

body .container .card .content-box .color span:nth-of-type(2) {
  background-color: #9bdc28;
}

body .container .card .content-box .color span:nth-of-type(3) {
  background-color: #e91e63;
}

body .container .card a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  font-weight: 600;
  color: #111111;
  text-decoration: none;
  opacity: 0;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .container .card:hover::before {
  -webkit-clip-path: circle(300px at 80% -20%);
          clip-path: circle(300px at 80% -20%);
}

body .container .card:hover .img-box {
  top: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body .container .card:hover .content-box {
  height: 210px;
}

body .container .card:hover .content-box .size,
body .container .card:hover .content-box .color {
  opacity: 1;
  visibility: visible;
}

body .container .card:hover .content-box .size {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

body .container .card:hover .content-box .color {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

body .container .card:hover a {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}
/*# sourceMappingURL=style.css.map */