@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./font/Montserrat-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('./font/Montserrat-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
