// position
// box-model
// typography
// decor
// transition
// animation
// other

body {
  // box-model
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;

  .input-box {
    // position
    position: relative;
    // box-model
    width: 400px;
    height: 60px;

    input {
      // position
      position: absolute;
      top: 0;
      left: 0;
      // box-model
      width: 100%;
      height: 100%;
      padding: 0 20px;
      // decor
      border: none;
      outline: none;
      border-radius: 8px;
      background: transparent;
      box-shadow: -4px -4px 10px rgba(255, 255, 255, 1), inset 4px 4px 10px rgba(0, 0, 0, 0.05), inset -4px -4px 10px rgba(255, 255, 255, 1),
        4px 4px 10px rgba(0, 0, 0, 0.5);
      // typography
      font-family: 'Tomorrow', sans-serif;
      font-size: 18px;

      &::placeholder {
        // typography
        color: #cccccc;
      }
    }

    #toggle {
      // position
      position: absolute;
      top: 50%;
      right: 20px;
      // box-model
      width: 30px;
      height: 30px;
      // decor
      background-image: url(./assets/img/eye-show.svg);
      background-size: cover;
      // transition
      transform: translateY(-50%);
      // other
      cursor: pointer;

      &.hide {
        // decor
        background-image: url(./assets/img/eye-hide.svg);
      }
    }
  }
}
