body {
  background-color: #2f2f2f;

  .scene {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border: 20px solid #ffffff;
    border-radius: 50%;
    background-color: #3b93ff;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    animation: animate-scene 5s linear infinite;

    &::before {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 100%;
      content: '';
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }

    .cloud {
      position: absolute;
      animation: animate-cloud 1.6s linear infinite;
    }

    .cloud-1 {
      left: 10%;
      animation-delay: 0;

      img {
        width: 100px;
        height: 100px;
      }
    }

    .cloud-2 {
      right: 10%;
      animation-delay: -0.4s;

      img {
        width: 150px;
        height: 150px;
      }
    }

    .cloud-3 {
      right: 20%;
      animation-delay: -0.8s;

      img {
        width: 160px;
        height: 160px;
      }
    }

    .cloud-4 {
      left: 20%;
      animation-delay: -1.2s;

      img {
        width: 140px;
        height: 140px;
      }
    }
  }

  .rocket {
    position: absolute;
    top: 50%;
    left: 50%;
    filter: drop-shadow(15px 10px rgba(0, 0, 0, 0.2));
    transform: translate(-50%, -50%);
    animation: animate-rocket 0.2s linear infinite;

    img {
      width: 240px;
      height: 240px;
    }
  }
}

@keyframes animate-rocket {
  0% {
    transform: translate(-50%, -50%) translate(0, 0);
  }
  50% {
    transform: translate(-50%, -50%) translate(0, 5px);
  }
  100% {
    transform: translate(-50%, -50%) translate(0, 0);
  }
}

@keyframes animate-cloud {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(1000%);
  }
}

@keyframes animate-scene {
  0% {
    background-color: #b339ff;
  }
  30% {
    background-color: #3b96ff;
  }
  70% {
    background-color: #3b93ff;
  }
  100% {
    background-color: #b339ff;
  }
}
