body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #03a9f4;

  .loader {
    position: relative;
    width: 120px;
    height: 120px;

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: rotate(calc(18deg * var(--i)));

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        content: '';
        background-color: #fff;
        border-radius: 50%;
        transform: scale(0);
        animation: animate 2s linear infinite;
        animation-delay: calc(0.1s * var(--i));
      }
    }

    .plane {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      animation: rotating 2s linear infinite;
      animation-delay: -1s;

      &::before {
        position: absolute;
        top: 75px;
        left: 80px;
        content: '\f072';
        font-family: 'fontAwesome';
        color: #fff;
        font-size: 60px;
        transform: rotate(180deg);
      }
    }
  }
}

@keyframes animate {
  0% {
    transform: scale(0);
  }

  10% {
    transform: scale(1.2);
  }

  80%,
  100% {
    transform: scale(0);
  }
}

@keyframes rotating {
  0% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(370deg);
  }
}
