// position
// box-model
// typography
// decor
// transition
// animation
// other

body {
  // position
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  // typography
  font-family: 'Poppins Bold', sans-serif;
  // decor
  background: url('./assets/img/floor.jpg');
  background-attachment: fixed;
  background-size: cover;

  .book {
    // position
    position: relative;
    top: 0;
    width: 400px;
    height: 600px;
    // decor
    background-color: #ffffff;
    box-shadow: -35px 35px 50px rgba(0, 0, 0, 1);
    // transition
    transform: rotate(-37.5deg) skewX(10deg);
    transition: 0.5s;
    // other
    cursor: pointer;

    &::before {
      // position
      position: absolute;
      top: 0;
      left: 0;
      // box-model
      width: 30px;
      height: 100%;
      content: '';
      // decor
      background: url(./assets/img/bg.jpg);
      background-color: #8a0e0e;
      box-shadow: inset -10px 0 20px rgba(0, 0, 0, 0.2);
      // transition
      transform: skewY(-45deg) translate(-30px, -15px);
    }

    &::after {
      // position
      position: absolute;
      bottom: 0;
      left: 0;
      // box-model
      width: 100%;
      height: 30px;
      content: '';
      // decor
      background-color: #cccccc;
      // transition
      transform: skewX(-45deg) translate(15px, 30px);
    }

    &:hover {
      // transition
      transform: rotate(-37.5deg) skewX(10deg) translate(20px, -20px);
      box-shadow: -50px 50px 100px rgba(0, 0, 0, 1);
    }

    .cover {
      // position
      position: absolute;
      top: 0;
      left: 0;
      // box-model
      width: 100%;
      height: 70%;
      // decor
      background: url(./assets/img/bg.jpg);
      background-size: cover;
    }

    h2 {
      // position
      position: absolute;
      bottom: 100px;
      left: 20px;
      // typography
      font-size: 5em;
      line-height: 1em;
      color: #ffffff;

      span {
        // decor
        background: url(./assets/img/bg.jpg);
        background-attachment: fixed;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .writer {
      // position
      position: absolute;
      bottom: 20px;
      right: 20px;
      // box-model
      padding-bottom: 5px;
      // typography
      font-family: 'Poppins', sans-serif;
      font-size: 0.6em;
      font-weight: 500;
      color: #262626;
      // decor
      border-top-left-radius: 1px solid #262626;

      i {
        // typography
        font-weight: 700;
      }
    }
  }
}
