// position
// box-model
// typography
// decor
// transition
// animation
// other

body {
  // typography
  font-family: 'Poppins', sans-serif;

  section {
    // box-model
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100hv;
    padding: 50px 0;

    .content {
      // typography
      text-align: center;

      h2 {
        // typography
        font-family: 'Poppins Bold', sans-serif;
        font-size: 24vw;
        font-weight: 900;
        line-height: 1em;
        text-transform: uppercase;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-attachment: fixed;
      }

      p {
        // box-model
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 20px;
      }

      a {
        // box-model
        display: inline-block;
        padding: 10px 20px;
        margin-top: 20px;
        // decor
        border: 2px solid #000000;
        // typography
        color: #000000;
        text-decoration: none;
        // transition
        transition: 0.25s;
      }
    }

    &:nth-child(1) {
      .content {
        h2 {
          background-image: url(./assets/img/fire.jpg);
        }

        a {
          &:hover {
            color: #ffffff;
            background-color: #ff4618;
          }
        }
      }
    }

    &:nth-child(2) {
      .content {
        h2 {
          background-image: url(./assets/img/ice.jpg);
        }

        a {
          &:hover {
            color: #ffffff;
            background-color: #45aaf2;
          }
        }
      }
    }

    &:nth-child(3) {
      .content {
        h2 {
          background-image: url(./assets/img/water.jpg);
          background-position: 100% 100%;
        }

        a {
          &:hover {
            color: #ffffff;
            background-color: #2bcbba;
          }
        }
      }
    }

    &:nth-child(4) {
      .content {
        h2 {
          background-image: url(./assets/img/desert.jpg);
          background-position: 100% 100%;
        }

        a {
          &:hover {
            color: #ffffff;
            background-color: #fd9644;
          }
        }
      }
    }
  }
}
