// position
// box-model
// typography
// decor
// transition
// animation
// other

::-webkit-scrollbar {
  width: 0;
}

body {
  #progress-bar {
    // position
    position: fixed;
    top: 0;
    right: 0;
    // box-model
    width: 10px;
    // decor
    background: linear-gradient(to top, #008aff, #00ffe7);
    // animation
    animation: animate 5s linear infinite;

    &::before,
    &::after {
      // position
      position: absolute;
      top: 0;
      left: 0;
      // box-model
      width: 10px;
      height: 100%;
      content: '';
      // decor
      background: linear-gradient(to top, #008aff, #00ffe7);
      filter: blur(30px);
    }
  }

  #scroll-path {
    // position
    position: fixed;
    top: 0;
    right: 0;
    // box-model
    width: 10px;
    height: 100%;
    // decor
    background-color: rgba(255, 255, 255, 0.05);
  }

  // typography
  font-family: 'Poppins', sans-serif;

  section {
    // box-model
    padding: 50px;
    // typography
    text-align: justify;
    // decor
    background-color: #1f1f1f;

    h2 {
      // typography
      font-size: 2.5em;
      color: #ffffff;
    }

    p {
      // typography
      font-size: 1.2em;
      color: #ffffff;
    }
  }
}

@keyframes animate {
  0%,
  100% {
    // decor
    filter: hue-rotate(0deg);
  }

  50% {
    // decor
    filter: hue-rotate(360deg);
  }
}
