// position
// box-model
// typography
// decor
// transition
// animation
// other

body {
  // box-model
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  //decor
  background-color: #ffc658;
  // other
  overflow: hidden;

  .letter {
    // box-model
    display: inline-block;
    // typography
    font-family: 'Tomorrow', sans-serif;
    font-size: 5rem;
    color: #15a3d3;
    letter-spacing: 10px;
    text-transform: uppercase;
    // transition
    transition: all 0.25s ease-in-out;

    &.active {
      // typography
      color: #007dba;

      // transition
      transform: scale(1.5);
      transition: all 0.1s ease-in-out;
      // other
      cursor: pointer;
    }
  }
}

/* 2ecc71 */
/* 22b6ff */
