body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  background-color: #000000;

  .box {
    .logo {
      position: relative;
      font-size: 5em;
      color: #ffffff;
      text-shadow: 0 0 50px #00ff00, 0 0 100px #00ff00, 0 0 150px #00ff00,
        0 0 200px #00ff00, 0 0 250px #00ff00;
      animation: animate 5s linear infinite;
    }
  }
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
