* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 400px;

    .square {
      width: 16px;
      height: 16px;
      margin: 2px;
      box-shadow: 0 0 2px #000000;
      background-color: #1d1d1d;
      cursor: pointer;
      transition: 3s ease;

      &:hover {
        transition-duration: 0s;
      }
    }
  }
}
