@font-face {
  font-family: 'Tomorrow';
  src: url('./font/Tomorrow-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./font/Montserrat-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
