body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #16384c;

  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1100px;

    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      max-width: 300px;
      height: 215px;
      margin: 30px 10px;
      padding: 20px 15px;
      background-color: #ececec;
      box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
      transition: 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        height: 420px;

        .content {
          margin-top: -40px;
          visibility: visible;
          opacity: 1;
          transition-delay: 0.3s;
        }
      }

      .img-box {
        position: relative;
        top: -60px;
        left: 5px;
        z-index: 1;
        width: 260px;
        height: auto;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

        img {
          max-width: 100%;
          border-radius: 4px;
        }
      }

      .content {
        position: relative;
        margin-top: -140px;
        padding: 10px 15px;
        text-align: center;
        color: #111111;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
      }
    }
  }
}
