@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;

  .container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    .sidebar {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 35%;
      transition: transform 0.5s ease-in-out;

      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        width: 100%;
        color: #fff;

        .sidebar h1 {
          font-size: 40px;
          margin-bottom: 10px;
          margin-top: -30px;
        }
      }
    }

    .main-slide {
      position: absolute;
      top: 0;
      left: 35%;
      height: 100%;
      width: 65%;
      transition: transform 0.5s ease-in-out;

      & > div {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
    }

    .controls {
      button {
        position: absolute;
        left: 35%;
        top: 50%;
        z-index: 100;
        padding: 15px;
        font-size: 16px;
        color: #aaa;
        border: none;
        background-color: #fff;
        cursor: pointer;

        &:hover {
          color: #222;
        }

        &:focus {
          outline: none;
        }
      }

      .down-button {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        transform: translateX(-100%);
      }

      .up-button {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transform: translateY(-100%);
      }
    }
  }
}
