// position
// box-model
// typography
// decor
// transition
// animation
// other

body {
  // typography
  font-family: 'Tomorrow', sans-serif;
  // decor
  background: linear-gradient(135deg, #3b2667 10%, #bc78ec 100%);

  .calculator-grid {
    // box-model
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);

    .output {
      // box-model
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      flex-direction: column;
      grid-column: 1 / -1;
      padding: 10px 30px;
      word-wrap: break-word;
      word-break: break-all;
      // decor
      background-color: rgba(0, 0, 0, 0.75);

      .previous-operand {
        // box-model
        /* height: 40px; */
        // typography
        font-size: 0.75rem;
        /* line-height: 2.5rem; */
        letter-spacing: 1px;
        // decor
        color: rgba(255, 255, 255, 0.5);
      }

      .current-operand {
        // box-model
        /* height: 80px; */
        // typography
        font-size: 2.5rem;
        /* line-height: 5rem; */
        // decor
        color: #ffffff;
      }
    }

    button {
      // typography
      font-size: 2rem;
      // decor
      outline: none;
      border: 1px solid #ffffff;
      background-color: rgba(255, 255, 255, 0.75);
      // other
      cursor: pointer;

      &:hover {
        // typography
        color: #ffffff;
        // decor
        background: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
      }
    }

    .little {
      font-size: 1.2rem;
      letter-spacing: -4px;
    }
  }
}
