body {
  font-family: 'Poppins', sans-serif;

  section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    #slider {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .navigation {
      position: absolute;
      bottom: 40px;
      left: 50%;
      z-index: 999;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(-50%);

      li {
        margin: 10px;
        cursor: pointer;

        img {
          width: 150px;
          border: 4px solid #ffffff;
          border-radius: 4px;
        }
      }
    }

    h2 {
      position: relative;
      z-index: 9999;
      max-width: 1000px;
      font-size: 4rem;
      text-align: center;
      color: #ffffff;
      text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  }
}
