body {
  min-height: 100vh;
  background-color: #e67e22;
}

body #curtain {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body #curtain span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 200%;
  height: 100%;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

body #curtain span:nth-child(1) {
  background-color: #ff1f6b;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

body #curtain span:nth-child(2) {
  background-color: #216dff;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

body #curtain span:nth-child(3) {
  background-color: #111111;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

body #curtain .toggle {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 1;
  width: 50px;
  height: 50px;
  background: transparent url("./assets/img/menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

body #curtain.active .toggle {
  z-index: 10;
  background: #cecece url("./assets/img/close.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

body #curtain.active span {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

body #curtain.active span:nth-child(1) {
  z-index: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

body #curtain.active span:nth-child(2) {
  z-index: 2;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

body #curtain.active span:nth-child(3) {
  z-index: 3;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

body #curtain ul {
  position: absolute;
  z-index: 100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  visibility: hidden;
  opacity: 0;
}

body #curtain ul li {
  margin: 10px 0;
}

body #curtain ul li a {
  display: block;
  font-family: consolas;
  font-size: 4rem;
  color: #cecece;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

body #curtain ul li a:hover {
  color: #ffffff;
}

body #curtain.active ul {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
  visibility: visible;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */