body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #111111;

  .list {
    position: relative;
    width: 350px;
    background-color: #ffffff;

    h2 {
      padding: 10px 20px;
      font-family: 'Poppins Bold', sans-serif;
      color: #ffffff;
      background-color: #03a9f4;
    }

    ul {
      position: relative;
      padding: 20px;

      li {
        position: relative;
        padding: 15px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:last-child {
          border-bottom: none;
        }

        label {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;

          input {
            visibility: hidden;
            appearance: none;

            &:checked {
              ~ p {
                text-decoration: line-through;
                color: #cccccc;
              }

              ~ span {
                background: #03a9f4;
                border: 1px solid #03a9f4;

                &::before {
                  border-left: 2px solid #ffffff;
                  border-bottom: 2px solid #ffffff;
                }
              }
            }
          }

          p {
            position: absolute;
            transition: 0.5s;
          }

          span {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            border: 1px solid #cccccc;
            border-radius: 50%;
            transition: 0.5s;

            &::before {
              position: absolute;
              top: 5px;
              width: 10px;
              height: 5px;
              content: '';
              border-left: 2px solid #cccccc;
              border-bottom: 2px solid #cccccc;
              transform: rotate(-40deg);
              transition: 0.5s;
            }
          }
        }
      }
    }
  }
}
