// position
// box-model
// typography
// decor
// transition
// animation
// other

body {
  // typography
  font-family: 'Poppins', sans-serif;

  input {
    // position
    position: fixed;
    top: 20px;
    right: 100px;
    z-index: 1;
    // other
    cursor: pointer;
    // other
    appearance: none;

    &::before {
      // position
      position: absolute;
      // box-model
      content: 'Dark';
      padding: 10px 20px;
      // decor
      background-color: #000000;
      // typography
      color: #ffffff;
    }

    &:checked {
      &::before {
        // box-model
        content: 'Light';
        // decor
        background-color: #ffffff;
        // typography
        color: #000000;
      }
      ~ * {
        // decor
        filter: invert(1);
      }
    }
  }

  section {
    // position
    position: absolute;
    top: 0;
    left: 0;
    // box-model
    min-height: 100vh;
    padding: 80px 100px;
    // decor
    background-color: #ffffff;

    h2 {
      // box-model
      margin-bottom: 10px;
    }

    p {
      // box-model
      margin-bottom: 10px;
      // typography
      text-align: justify;
    }

    img {
      // box-model
      float: left;
      max-width: 500px;
      margin: 10px 20px 10px 0;
      // decor
      filter: inherit;
    }
  }
}
