// position
// box-model
// typography
// decor
// transition
// animation
// other

body {
  // box-model
  min-height: 100vh;
  // other
  overflow: hidden;

  span {
    // position
    position: absolute;
    // box-model
    width: 40px;
    height: 38px;
    // decor
    background-image: url(./assets/img/hole.png);
    // transition
    transform: translate(28px, 28px);
    // other
    pointer-events: none;
  }

  section {
    // position
    position: relative;
    // box-model
    width: 100%;
    height: 100vh;
    // other
    cursor: url(./assets/img/aim.png), pointer;
    background-image: url(./assets/img/bg.jpg);
    background-position: center;
  }
}
