// position
// box-model
// typography
// decor
// transition
// animation
// other

body {
  // box-model
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  // typography
  font-family: 'Tomorrow', sans-serif;
  // decor
  background-color: #091921;

  .container {
    // position
    position: relative;
    // box-model
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      // box-model
      margin-bottom: 5px;
      // typography
      font-size: 20px;
      font-weight: 900;
      color: #215e65;
    }

    label {
      // position
      position: relative;

      input {
        // other
        appearance: none;
        cursor: pointer;

        &:checked {
          ~ .icon {
            // decor
            fill: #00fff1;
            box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.1),
              inset 2px 2px 6px rgba(0, 0, 0, 1);
          }
        }
      }

      .icon {
        // position
        position: relative;
        // box-model
        width: 45px;
        height: 45px;
        margin: 10px 4px;
        padding: 15px;
        // decor
        border-radius: 50%;
        fill: #6f6f6f;
        background-color: #091921;
        box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
          2px 2px 6px rgba(0, 0, 0, 0.8);
        // other
        cursor: pointer;

        &:hover {
          // decor
          box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
            2px 2px 6px rgba(0, 0, 0, 0.8),
            inset -2px -2px 6px rgba(255, 255, 255, 0.05),
            inset 2px 2px 10px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
