#container {
  position: absolute;
  width: 100%;
  height: 100vh;

  background: url('./assets/img/cyberpunk-2077.jpg');
  background-position: center center;
  background-attachment: fixed;

  overflow: hidden;

  .box {
    position: absolute;

    background: url('./assets/img/cyberpunk-2077.jpg');
    background-attachment: fixed;
  }
}
