body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #00415a;
}

body .box {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border: 10px solid #ffffff;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#6ab9ff), to(#0090d2));
  background: linear-gradient(#6ab9ff, #0090d2);
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.8);
}

body .box .cloud {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

body .box .cloud img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

body .box .cloud img:nth-child(1) {
  top: 80px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation: animate-cloud 2.25s linear infinite;
          animation: animate-cloud 2.25s linear infinite;
}

body .box .cloud img:nth-child(2) {
  top: 180px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-animation: animate-cloud 2s linear infinite;
          animation: animate-cloud 2s linear infinite;
}

body .box .cloud img:nth-child(3) {
  top: 100px;
  z-index: 2;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
  -webkit-animation: animate-cloud 1.75s linear infinite;
          animation: animate-cloud 1.75s linear infinite;
}

body .box .plane {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: animate-plane 1s linear infinite;
          animation: animate-plane 1s linear infinite;
  /* img {
        z-index: 1;
      } */
}

@-webkit-keyframes animate-cloud {
  0% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  100% {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
}

@keyframes animate-cloud {
  0% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  100% {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
}

@-webkit-keyframes animate-plane {
  0% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
}

@keyframes animate-plane {
  0% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
}
/*# sourceMappingURL=style.css.map */