// position
// box-model
// typography
// decor
// transition
// animation
// other

.scene {
  // position
  position: relative;
  // box-model
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  // decor
  background-color: #01010a;
  // other
  overflow: hidden;

  &:active {
    .rocket::before,
    .rocket::after {
      // position
      bottom: -300px;
      // box-model
      height: 300px;
      width: 12px;
      // decor
      background: linear-gradient(#ff12d7, transparent);
      filter: blur(2px);
    }
  }

  i {
    // position
    position: absolute;
    top: -250px;
    background-color: rgba(255, 255, 255, 0.5);
    animation: stars linear infinite;
  }

  .rocket {
    // position
    position: absolute;
    // transition
    transition: 0.1s;
    // animation
    animation: rocket 0.2s ease infinite;
    // other
    pointer-events: none;

    &::before {
      // position
      position: absolute;
      bottom: -200px;
      left: 50%;
      // box-model
      content: '';
      width: 10px;
      height: 200px;
      // decor
      background: linear-gradient(#00d0ff, transparent);
      // transition
      transform: translateX(-50%);
    }

    &::after {
      @extend .rocket::before;
      // decor
      filter: blur(20px);
    }
  }
}

@keyframes stars {
  0% {
    // transition
    transform: translateY(0);
  }
  100% {
    // transition
    transform: translateY(200vh);
  }
}

@keyframes rocket {
  0% {
    // transition
    transform: translate(-50%, -52px);
  }
  50% {
    // transition
    transform: translate(-50%, -48px);
  }
  100% {
    // transition
    transform: translate(-50%, -52px);
  }
}
