
@import url(table/table.css);


.assortment {
  padding-top: 90px;
  padding-bottom: 90px;
}

.assortment__container {
  width: 800px;
  margin: 0 auto;
}

.assortment__title {
  margin-bottom: 75px;

  font-size: 40px;
  line-height: 60px;
  text-transform: uppercase;
  color: #000000;
}
