body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 42px;
  font-family: 'Gochi Hand', cursive;
  text-transform: uppercase;
  background-color: #e67e22;
  text-align: center;
  color: #ffffff;
}
