body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: consolas;
  background-color: #080b1f;

  nav {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    #marker {
      position: absolute;
      top: 0;
      height: 48px;
      border-radius: 2px;
      background-color: #2196f3;
      transition: 0.5s;
    }

    a {
      position: relative;
      display: inline-block;
      margin: 10px 0;
      padding: 0 20px;
      font-size: 2em;
      color: #ffffff;
      text-decoration: none;
    }
  }
}
