*,
*:before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 15px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Arial', sans-serif;
  color: #ffffff;
  background: #2b2b2b url('assets/bg-image.jpg') repeat-x fixed center/ contain;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
  }
  .header__photo {
    margin: 0 auto;

    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }

  & .header__intro {
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

ul {
  line-height: 24px;
  list-style-type: none;
}

a {
  color: #ffffff;

  &:hover {
    color: #a4b0be;
  }

  &:active {
    color: #747d8c;
  }
}

.main__inner {
  margin-top: 45px;

  .main__contact ul {
    position: relative;

    li.email::before {
      content: '';
      position: absolute;
      top: 4px;
      left: 14px;
      display: inline-block;
      width: 18px;
      height: 18px;
      background: url('assets/email.svg') no-repeat center / contain;
    }

    li.telegram::before {
      content: '';
      position: absolute;
      top: 28px;
      left: 14px;
      display: inline-block;
      width: 18px;
      height: 18px;
      background: url('assets/telegram.svg') no-repeat center / contain;
    }

    li.github::before {
      content: '';
      position: absolute;
      top: 50px;
      left: 14px;
      display: inline-block;
      width: 18px;
      height: 18px;
      background: url('assets/github.svg') no-repeat center / contain;
    }
  }

  .main__skills ul {
    padding-left: 15px;

    li {
      padding-left: 34px;
      background: url('assets/skill.svg') no-repeat left / contain;
    }
  }

  section {
    padding: 15px;

    details {
      position: relative;
      padding-bottom: 10px;
      border-bottom: 1px solid #ffffff;

      &[open] {
        summary {
          &::after {
            transform: rotateX(180deg);
          }
        }
      }

      summary {
        padding-left: 10px;
        font-family: 'Montserrat', 'Tahoma', sans-serif;
        text-transform: uppercase;
        outline: none;
        cursor: pointer;

        &::-webkit-details-marker {
          display: none;
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 10px;
          display: inline-block;
          width: 18px;
          height: 18px;
          background: url('assets/arrow.svg') no-repeat center / contain;
          transition: all linear 0.3s;
        }
      }
    }
  }
}

.footer {
  .footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 30px 15px 20px;
    font-size: 16px;

    .footer__link a {
      text-decoration: none;
      text-transform: uppercase;
    }

    .footer__copyright p {
      margin: 0;
    }

    .footer__social ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin: 0;

      li {
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }
      }

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
